<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="assets/stylesheets/top.scss">
</head>
<body id="top_wrapper">
  <h1>Monico</h1>
  <p id="title">早く起きる日のための<br>グループモーニングコールサービス</p>
  <div class="buttons">
  <%= link_to :new_user, class:"button_link" do %>
    <button type="button">新規登録</button>
  <% end %>
  <%= link_to :login, class:"button_link" do %>
    <button type="button" class="login">ログイン</button>
  <% end %>
  </div>
</body>
</html>