<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="assets/stylesheets/group.scss">
</head>
<body id="group_how">
<div class="wrapper">
<a href="/groups"><i class="fas fa-chevron-left arrow"></i></a>
  <%= image_tag "gamen1.png", class: "howto_img" %>
  <%= image_tag "gamen2.png", class: "howto_img" %>
</div>
</body>
</html>